@charset "UTF-8";

body, html {

  margin: 0px;
  padding: 0px;
  background-color: rgb(51, 49, 49);
  color: white;

}

header div#item1-header {

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 25px;
}

header div#item1-header > nav {

    display: flex;
    gap: 30px;

}

header div#item1-header > nav > a {

    color: aquamarine;
    text-decoration: none;

}

main {

  display: grid;
  justify-content: center;
  grid-template-columns: 200px 400px 400px;
  grid-template-rows: 200px;
  gap: 25px;

}

main section#categ {

    grid-column: 1;
    grid-row: 1 / 6;

}

main section#categ > ul {

    margin: 0px;

}

main section#categ > ul > li > p {

    color: aquamarine;

}

div#intro {

    grid-column: 2 / 4;
    grid-row: 1;
    
}

.link {

  color: aquamarine;
  text-decoration: none;
  
}

.news {

    width: 360px;
    border-radius: 10px;

}

aside#news1 {

    grid-column: 2 / 4;
    grid-row: 2;
    margin-top: -100px;

}

aside#news1 > img {

    width: 730px;
    border-radius: 10px;

}

aside#news2 {

    grid-column: 2;
    grid-row: 3;

}

aside#news3 {

  grid-column: 3;
  grid-row: 3;
  
}

aside#news4 {

  grid-column: 2;
  grid-row: 4;
  
}

aside#news5 {

  grid-column: 3;
  grid-row: 4;
  
}

aside#news2 {

  grid-column: 2;
  grid-row: 5;
  
}

aside#news2 {

  grid-column: 3;
  grid-row: 5;
  
}

footer {

  padding: 10px;
  text-align: center;
}

