@charset "UTF-8";

/* Todas demais mídias*/


/*Typical Device Breakpoints

Pequenas telas: até 600 px
Celular: de 600 px até 768px
Tablet:  769px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px

*/

* {

    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

@media screen and (min-width: 780px) and (max-width: 1100px) {

    section#login{

        display: flex;
        flex-direction: row;
        position: fixed;
        position: relative;
        margin-left: 250px;

    }

    section#login div#formulario {

        position: absolute;
        top: 50%;
        right: 15%;
        width: 55vw;
        max-width: 600px;
        height: 400px;
        border-radius: 0px 10px 10px 0px;

    }

    section#login div#imagem > img {

        position: absolute;
        right: 80%;
        width: 25vw;
        height: 430px;
        border-radius: 10px 0px 0px 10px;
    }
    
}

@media screen and (min-width: 1100px) {

    section#login{

        display: flex;
        flex-direction: row;
        position: fixed;
        position: relative;
        margin-left: 250px;

    }

    section#login div#formulario {

        position: absolute;
        top: 50%;
        right: 50%;
        width: 55vw;
        max-width: 750px;
        height: 430px;
        border-radius: 10px 0px 0px 10px;

    }

    section#login div#imagem > img {

        position: absolute;
        right: 25%;
        width: 25vw;
        height: 450px;
        border-radius: 0px 10px 10px 0px;
    }
}

